.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 11%;
    height: 40%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.village {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
.village:hover {
    background-color: #4CAF50;
    color: white;
}

.grotte {
    background-color: white; 
    color: black; 
    border: 2px solid #666666;
}
.grotte:hover {
    background-color: #666666;
    color: white;
}

.recher {
    background-color: white; 
    color: black; 
    border: 2px solid #0011ff;
}
.recher:hover {
    background-color: #0011ff;
    color: white;
}

.marcha {
    background-color: white; 
    color: black; 
    border: 2px solid #ffd700;
}
.marcha:hover {
    background-color: #ffd700;
    color: white;
}

.mapgen {
    background-color: white; 
    color: black; 
    border: 2px solid #00f9ff;
}
.mapgen:hover {
    background-color: #00f9ff;
    color: white;
}

.armee {
    background-color: white; 
    color: black; 
    border: 2px solid #ff0000;
}
.armee:hover {
    background-color: #ff0000;
    color: white;
}

.classe {
    background-color: white; 
    color: black; 
    border: 2px solid #b8aeae;
}
.classe:hover {
    background-color: #b8aeae;
    color: white;
}

.deconn {
    background-color: white; 
    color: black; 
    border: 2px solid #000000;
}
.deconn:hover {
    background-color: #000000;
    color: white;
}

